/* ------------------- */
/* Variables and fonts */
/* ------------------- */

:root {
  --cursor-default: url("../images/cursors/default.svg");
  --cursor-pointer: url("../images/cursors/pointer.svg");
  --cursor-arrow: url("../images/cursors/arrow.svg");
  --stroke-size: 0.1em;

  --red: #aa2d00;
  --yellow: #ffbc00;
  --pink: #ff7680;
  --green: #008f4f;
  --orange: #ff7630;
  --purple: #663f5d;
  --sand: #ad9865;
  --brown: #5b3815;
  --blue: #0f5473;
  --darkergrey: #b0b0ab;
  --labelgrey: #e2e2dd;

  --kitchen1: var(--red);
  --kitchen2: var(--yellow);
  --bathroom1: var(--pink);
  --bathroom2: var(--green);
  --library1: var(--orange);
  --library2: var(--purple);
  --bedroom1: var(--sand);
  --bedroom2: var(--brown);
  --workshop1: var(--blue);
  --workshop2: var(--darkergrey);

  --border: var(--stroke-size) solid #000000;
  --borderRadius: 15px;
  --buttonPadding: 6px 10px 0px 10px;
  --buttonPaddingNonText: 0 10px;
  --buttonHeight: 40px;

  --projectInfoWidth: 400px;
  --projectHeight: 100%;
}

@media only screen and (max-width: 1200px) {
  :root {
    --buttonHeight: 30px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --stroke-size: 2px;
    --projectInfoWidth: 320px;
    --buttonHeight: 40px;
  }
  path,
  circle,
  line {
    stroke-width: calc(var(--stroke-size) + 0px) !important;
  }
}
@media only screen and (max-width: 915px) {
  :root {
    --stroke-size: 2px;

  }
  path,
  circle,
  line {
    stroke-width: calc(var(--stroke-size) + 0px) !important;
  }
}

@media only screen and (min-width: 1921px) {
  :root {
    --stroke-size: 5px;
    --buttonHeight: 50px;
  }
  path,
  circle,
  line {
    stroke-width: calc(var(--stroke-size) + 0px) !important;
  }
}
* {
  box-sizing: border-box;
}

/* ------ */
/* Layout */
/* ------ */
html {
  scroll-behavior: smooth;
  min-height: 100%;
  cursor: var(--cursor-default), auto;
}
button {
  font-family: inherit;
  color: inherit;
}
a:hover,
button:hover {
  cursor: var(--cursor-pointer), auto;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  font-family: Belgika;
  background-color: black;
}
body {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-areas:
      "nav"
      "main";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 100%;
  }
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}
h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-family: 'Libertine';
  font-size: 1em;
  line-height: 1.1em;
}

ul {
  padding: 0;
  margin: 0;
}

/* ---------- */
/* Navigation */
/* ---------- */

nav {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;

  padding: 20px;
  z-index: 10;
  overflow: auto;
}
.nav-hamburger-button {
  display: none;
}
/* TODO ?? */
.nav-menu-filters {
  display: flex;
  flex-direction: column;
}

.nav-selection {
  display: flex;

  border: var(--border);
  border-width: var(--stroke-size) 0 0 var(--stroke-size);

  margin-bottom: 10px;
}

.nav-selection:last-child {
  margin-bottom: 0;
}
.nav-selection li {
  border: var(--border);
  border-width: 0 var(--stroke-size) var(--stroke-size) 0;
  width: 100%;
}
.nav-selection li:hover label {
  background-color: var(--labelgrey);
}
.nav-selection a,
.nav-selection > button {
  border: var(--border);
  border-width: 0 var(--stroke-size) var(--stroke-size) 0;
  width: 100%;
}
#about-button {
  font-size: inherit;
  font-family: inherit;
}
#about-button[data-visibility="hidden"] {
  background: none;
}
#about-button:hover {
  background: var(--labelgrey);
}
#about-button[data-visibility="visible"] {
  background: var(--labelgrey);
}

.nav-selection a,
.nav-selection > button,
.category label,
.year > label,
.year > select {
  -webkit-appearance: none;
  border-radius: unset;
  display: flex;
  align-items: center;
  height: var(--buttonHeight);
  padding: var(--buttonPadding);

  overflow: hidden;
}
.nav-selection a:hover {
  background-color: var(--labelgrey);
}
.language-active {
  background-color: var(--labelgrey);
}
.language {
  justify-content: space-between;
}
.category {
  flex-direction: column;
}

.category li {
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}
.category label:hover {
  cursor: var(--cursor-pointer), auto;
}
.category label {
  width: 100%;
  border-right: var(--border);

  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: var(--buttonPaddingNonText);
  height: var(--buttonHeight);
  width: var(--buttonHeight);
  border-radius: unset;
  font: inherit;
  color: currentColor;
  display: grid;
  place-content: center;
}
input[type="checkbox"]:hover {
  background: var(--labelgrey);
  cursor: var(--cursor-pointer), auto;
}
input[type="checkbox"]:checked {
  background: var(--labelgrey);
}
input[type="checkbox"]:checked ~ .form-control {
  background: var(--labelgrey);
}
input[type="checkbox"]::before {
  content: "";
  width: 0.85em;
  height: 0.85em;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
  background-color: black;
  transform-origin: center center;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* input[type="checkbox"]:focus { */
/*   outline: var(--stroke-size) solid var(--labelgrey); */
/* } */

.year {
  border: var(--border);
}
.year > label {
  width: 100%;
  cursor: var(--cursor-default), auto;
}
.year > select {
  background: none;
  width: 100%;
  font-family: "Belgika";
  font-size: 1em;
  border: var(--border);
  border-width: 0 0 0 var(--stroke-size);
}
.year > select:hover {
  /* cursor: pointer; */
  cursor: var(--cursor-pointer), auto;

  background-color: var(--labelgrey);
}
.nav-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon-container > a {
  display: inherit;
  height: var(--buttonHeight);
}
.view-toggle-container {
  display: flex;
  height: var(--buttonHeight);
  gap: 10px;
}

.nav-svg-icon {
  height: 100%;
  transition: background 250ms;
  padding: 0px;
  box-sizing: content-box;
}
.nav-svg-icon:hover {
  cursor: var(--cursor-pointer), auto;
}

.nav-svg-icon:hover .view-toggle-rect {
  stroke: var(--labelgrey);
}

.active .view-toggle-rect {
  stroke: var(--labelgrey);
}

.view-toggle-rect {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--stroke-size);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: none;
}
.maju-bois-logo {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;

    transition: 500ms;
    z-index: 12;
  }

  .nav-hamburger-button {
    height: calc(1 / 6 * 100vh);
    height: calc(1 / 6 * 100dvh);
    padding: var(--buttonPadding);
    background-color: var(--labelgrey);
    transform: rotate(180deg);
    border: var(--border);
    border-width: var(--stroke-size) 0 var(--stroke-size) var(--stroke-size);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms;
  }
  .nav-menu[data-visibility="hidden"] {
    transform: translate(calc(0px - var(--projectInfoWidth)));
  }

  .nav-menu[data-visibility="hidden"] .nav-hamburger-button {
    transform: rotate(0deg);
    border-width: var(--stroke-size);
  }
  .nav-menu-filters {
    width: var(--projectInfoWidth);
    border: var(--border);
    background-color: white;
  }
  .nav-selection {
    border-width: 0;
    margin: 0;
  }
  .nav-selection > li {
    border-width: 0 0 var(--stroke-size) 0;
  }
  .nav-selection button {
    border-width: 0 0 var(--stroke-size) 0;
  }

  .nav-selection a {
    border-width: 0 0 var(--stroke-size) 0;
  }
  .language a {
    border-width: 0 var(--stroke-size) var(--stroke-size) 0;
  }
  .language a:last-of-type {
    border-width: 0 0 var(--stroke-size) 0;
  }

  .year {
    border: var(--border);
    border-width: 0 0 var(--stroke-size) 0;
  }

  .nav-icon-container {
    padding: 5px 10px;
  }

  .active .view-toggle-rect {
    filter: none;
    stroke: var(--green);
  }
  .view-toggle-rect {
    stroke: black;
  }

  .maju-bois-logo {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .svg-wrapper {
    height: 100%;
  }
  .svg-wrapper a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------- */
/* Side scroll element */
/* ------------------- */
aside {
  height: 100%;
  position: relative;
  grid-area: nav;
  z-index: 11;
  background-color: var(--orange);
}

.aside-scroll {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  border: var(--border);
  border-width: var(--stroke-size) var(--stroke-size) var(--stroke-size) 0;

  overflow-y: hidden;
  transform: rotate(180deg);
}
.project-side {
  width: 100%;
  height: var(--projectHeight);
  border: var(--border);
  border-width: var(--stroke-size) 0 0 0;
}

.project-side[data-project-visibility="false"] {
  display: none;
}
@media only screen and (max-width: 768px) {
  .aside-scroll {
    width: 100%;
    border-width: var(--stroke-size) var(--stroke-size) 0 var(--stroke-size);
  }
  .project-side {
    border-width: 0 0 var(--stroke-size) 0;
  }
}
/* ------------ */
/* Main element */
/* ------------ */

main {
  grid-area: main;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  border: var(--border);
  border-width: var(--stroke-size) var(--stroke-size) 0 var(--stroke-size);
}

main[data-view="list"] {
  display: initial;
}
main[data-view="grid"] {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 33.33% 33.33% 33.33%; */
  grid-template-columns: repeat(3, minmax(125px, 1fr));
  align-content: flex-start;
  gap: var(--stroke-size);
  scroll-snap-type: none;
}
main[data-view="grid"] .project {
  aspect-ratio: 1/1;
  border: none;
}
main[data-view="grid"] .project--information {
  display: none;
}

@media only screen and (max-width: 768px) {
  main {
    border-width: 0 var(--stroke-size);
  }
}

/* --------------- */
/* Project element */
/* --------------- */

.project {
  width: 100%;
  height: var(--projectHeight);
  padding: 2.5em;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: center;
  position: relative;
}
.project[data-project-visibility="false"] {
  display: none;
}
.project[data-info-visibility="true"] > .project--information {
  transform: translate(var(--projectInfoWidth));
}

.project--image {
  max-height: 100%;
  max-width: 100%;
  cursor: var(--cursor-pointer), auto;
  border: var(--border);
}

.project--information {
  font-family: 'Libertine';
  line-height: 1em;  
  font-weight: 400;
  width: var(--projectInfoWidth);
  height: 100%;
  padding: 20px;
  background-color: var(--labelgrey);
  position: absolute;
  top: 0;
  left: calc(0vw - var(--projectInfoWidth));
  transition: transform 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: var(--border);
  cursor: var(--cursor-arrow), auto;
}

.project--information p {
  padding-left: 20px;

}

.project--information h2 {
  font-family: Belgika;
}

.project--information-title {
  margin: 0;
  font-weight: 800;
  margin-bottom: 0em;

}
.project--information-location {
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 2em;
  line-height: 1em;
}

.project--information-identifier {
  padding-left: 20px;
  font-family: Belgika;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0px;

}
@media only screen and (max-width: 768px) {
  .project {
    padding: 20px;
  }
}

/* -------------- */
/* Project Colors */
/* -------------- */

.project[data-project-type="kitchen"],
.project-side[data-project-type="kitchen"]:nth-of-type(even) {
  background-color: var(--kitchen1);
}
.project[data-project-type="kitchen"]:nth-of-type(even),
.project-side[data-project-type="kitchen"] {
  background-color: var(--kitchen2);
}

.project[data-project-type="bathroom"],
.project-side[data-project-type="bathroom"]:nth-of-type(even) {
  background-color: var(--bathroom1);
}
.project[data-project-type="bathroom"]:nth-of-type(even),
.project-side[data-project-type="bathroom"] {
  background-color: var(--bathroom2);
}

.project[data-project-type="bedroom"],
.project-side[data-project-type="bedroom"]:nth-of-type(even) {
  background-color: var(--bedroom1);
}
.project[data-project-type="bedroom"]:nth-of-type(even),
.project-side[data-project-type="bedroom"] {
  background-color: var(--bedroom2);
}

.project[data-project-type="library"],
.project-side[data-project-type="library"]:nth-of-type(even) {
  background-color: var(--library1);
}
.project[data-project-type="library"]:nth-of-type(even),
.project-side[data-project-type="library"] {
  background-color: var(--library2);
}

.project[data-project-type="workshop"],
.project-side[data-project-type="workshop"]:nth-of-type(even) {
  background-color: var(--workshop1);
}
.project[data-project-type="workshop"]:nth-of-type(even),
.project-side[data-project-type="workshop"] {
  background-color: var(--workshop2);
}

.project[data-project-type="drawing"],
.project-side[data-project-type="drawing"] {
  background-color: var(--workshop2);
}

/* ------------ */
/* About "Page" */
/* ------------ */

#about {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  border: var(--border);
  padding: 20px;

  background-color: var(--labelgrey);

  font-size: 1.2em;
  line-height: 1.5em;

  z-index: 10;
  transform: translate(-100vw);
  transition: transform 800ms ease-in-out;
}
#about[data-visibility="visible"] {
  transform: translate(0);
}

.about-content > * {
  margin-bottom: 22px;
}
.about-header {
  display: flex;
  justify-content: space-between;
}
.about-header-arrow {
  display: flex;
  align-items: end;
  transform: rotate(180deg);
  border: none;
  background: none;
  font: inherit;
}
.about-header-arrow:hover {
  color: var(--green);
}
.about--image-container {
  display: flex;
  max-width: 100%;
  gap: 10px;
}
.about--image {
  width: 100%;
  max-width: 480px;
  min-height: 100%;

  aspect-ratio: 1 / 1;
  border: var(--border);
}


@media only screen and (max-width: 768px) {
  #about {
    width: 100%;
    left: 0;
  }

  .about--image-container {
    flex-direction: column;
  }
}

.exit-button {
  font-size: 44px;
  transform: rotate(180deg);
  width: max-content;
  font-family: Compagnon;
  font-style: italic;
}

.exit-button:hover {
  color: var(--orange);
}

/* ----------------- */
/* SVG / IMG STYLING */
/* ----------------- */

:is(svg, img) {
  /* the border can expand beyond the viewbox */
  max-width: 100%;
  max-height: 100%;
}

svg {
  overflow: visible;
}

path,
circle,
line {
  /* this magic property will homogenise the stroke-width
      between the different svgs*/
  vector-effect: non-scaling-stroke;
  stroke-width: calc(var(--stroke-size) + 1px);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  stroke: black;
}
nav path#path4,
nav path#path6,
nav path#path8,
nav path#path12,
nav path#path14,
nav path#path16,
nav path#path18,
nav path#path58 {
  stroke-width: 0 !important;
}

.project svg {
  width: 100%;
  height: 100%;
}

.scie svg path#path1592,
.scie svg path#path1580,
.scie svg path#path1572,
.emboiter-2 svg path#path3482,
.emboiter-2 svg path#path3458,
.emboiter svg path#path3260,
.emboiter svg path#path3264 {
  stroke-width: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
