
  @font-face {
    font-family: Belgika;
    src: url(../fonts/belgika-8th-webfont.woff) format('woff'), 
    url('../fonts/belgika-8th-webfont.woff') format('woff'),
    url('../fonts/belgika-8th-webfont.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: Belgika;
    src: url(../fonts/belgika-5th-webfont.woff) format('woff'), 
    url('../fonts/belgika-5th-webfont.woff') format('woff'),
    url('../fonts/belgika-5th-webfont.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: Compagnon;
    src: url(../fonts/Compagnon-Italic.woff) format('woff');
    font-style: italic;
  }
  
  @font-face {
    font-family: Compagnon;
    src: url(../fonts/Compagnon-Bold.woff) format('woff');
    font-weight: bold;
  }

  @font-face {
    font-family: Libertine;
    src: url(../fonts/linlibertine_r-webfont.woff) format('woff');
    font-weight: regular;
  }
  
  @font-face {
    font-family: Libertine;
    src: url(../fonts/linlibertine_ri-webfont.woff) format('woff');
    font-style: italic;
  }

