<div class="about-content">
  <div class="about-header">
    <h2>{{ page.header.description }}</h2>
    <button class="about-header-arrow" onclick="closeAbout()">&#10140;</button>
  </div>

  <div class="about--image-container">
    <div class="about--image">
      {% set img = page.media|first %}
      {{ img
          .resize(480)
          .attribute("loading", "lazy" )
          .quality(85)
          .html('workshop image', 'maju bois workshop image', '')|raw }}
    </div>
    <div class="about--image">
      {{ svg_image('theme://images/plan_optimized.svg', 'maju-bois-plan')|raw  }}
    </div>
  </div>

  <div class="about--adresse">
    <p>{{ page.header.adress|split(';')|first }}</p>
    <p>{{ page.header.adress|split(';')|last }}</p>

    <p>{{ page.header.email }}</p>
  </div>
  <div class="staff">
    {% for person in page.header.staff %}
      <p>
        {{ person.email }}
        {{ person.phone }}
      </p>
    {% endfor %}
  </div>
  <figure id="logo-partenaire" class="">
    {% set lang = grav.language.getActive %}
    <figcaption>
    {% if lang == 'nl' %}
            Website ontworpen door OSP en Jérôme Degive, met de steun van
          {% elseif lang == 'en' %}
            Website designed by OSP and Jérôme Degive, with the support of 
          {% else %}
            Website dessiné par OSP et Jérôme Degive, avec le soutien de
          {% endif %}
    </figcaption>
    <img id="about-figure-image" src="{{ url('theme://images/logos/flanders-investment.png')|raw }}"/>
  </figure>
</div>
