<section
  class="project" 
  data-project-visibility="true" 
  data-info-visibility="false" 
  id={{ page.title|hyphenize }} 
  data-project-type={{ page.taxonomy.tag|first|e }}
  data-project-year={{ header.year }}>
  {% set img = page.media|first %}
  {{ img
      .resize(1200)
      .attribute("onclick", "toggleInfoVisibility(event)")
      .quality(90)
      .html('', '', 'project--image')|raw }}

  <div class="project--information" onclick='toggleInfoVisibility(event)'>
    <div class="project--information-content">
      <h2 class="project--information-title">{{ header.title|t|e }}</h2>
      <h3 class="project--information-location">
        {{ page.header.subtitle }}
        {{ header.year }}
      </h3>
      {% set lang = grav.language.getActive %}

      {% if page.header.principle %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Principetekening
          {% elseif lang == 'en' %}
            Principle drawing
          {% else %}
            Dessin de principe
          {% endif %}
        </p>
        <p>{{ page.header.principle }}</p>
      {% endif %}

      {% if page.header.drawing %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Tekening
          {% elseif lang == 'en' %}
            Drawing
          {% else %}
            Dessin
          {% endif %}
        </p>
        <p>{{ page.header.drawing }}</p>
      {% endif %}

      {% if page.header.architect %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Architect
          {% elseif lang == 'en' %}
            Architect
          {% else %}
            Architecte
          {% endif %}
        </p>
        <p>{{ page.header.architect }}</p>
      {% endif %}

      {% if attribute(page.header, "interior-designer") %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Binnenhuisarchitect
          {% elseif lang == 'en' %}
            Interior designer
          {% else %}
            Architecte d'intérieur
          {% endif %}
        </p>
        <p>{{ attribute(page.header, "interior-designer") }}</p>
      {% endif %}

      {% if page.header.realization %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Realisatie
          {% elseif lang == 'en' %}
            Realization
          {% else %}
            Réalisation
          {% endif %}
        </p>
        <p>{{ page.header.realization }}</p>
      {% endif %}

      {% if attribute(page.header, "with-the-help-of") %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Met de hulp van
          {% elseif lang == 'en' %}
            With the help of
          {% else %}
            Avec l'aide de
          {% endif %}
        </p>
        <p>{{attribute(page.header, "with-the-help-of") }}</p>
      {% endif %}

      {% if page.header.ironworker %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Ijzerwerk
          {% elseif lang == 'en' %}
            Ironwork
          {% else %}
            Ferronnerie
          {% endif %}
        </p>
        <p>{{ page.header.ironworker }}</p>
      {% endif %}

      {% if page.header.upholstery %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Voering
          {% elseif lang == 'en' %}
            Lining
          {% else %}
            Garnissage
          {% endif %}
        </p>
        <p>{{ page.header.upholstery }}</p>
      {% endif %}

      {% if page.header.workshop %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Werkplaats
          {% elseif lang == 'en' %}
            Workshop
          {% else %}
            Atelier
          {% endif %}
        </p>
        <p>{{ page.header.workshop }}</p>
      {% endif %}

      {% if page.header.worktop %}
        <p class="project--information-identifier">
          {% if lang == 'nl' %}
            Werkplan
          {% elseif lang == 'en' %}
            Worktop
          {% else %}
            Plan de travail
          {% endif %}
        </p>
        <p>{{ page.header.worktop }}</p>
      {% endif %}

      {% for key,value in page.header.additionalInfo %}
        <p class="project--information-identifier">
          {{ key }}
        </p>
        <p>
          {{value}}
        </p>
      {% endfor %}

    </div>
  </div>
</section>
