<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
  <head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>
        {{ site.title | e }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="icon" type="image/png" href="{{ url('theme://images/logos/favicon.png') | e }}"/>
      <link rel="canonical" href="{{ page.canonical(true) | e }}"/>
    {% endblock head %}
    {% block stylesheets %}
      {% do assets.addCss('theme://css/custom.css', 100) %}
      {% do assets.addCss('theme://css/colors.css', 100) %}
      {% do assets.addCss('theme://css/fonts.css', 100) %}
    {% endblock %}
    {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
      {% do assets.addJs('theme://js/script.js', { group: 'bottom' }) %}
    {% endblock %}
    {% block assets deferred %}
      {{ assets.css() | raw }}
      {{ assets.js() | raw }}
    {% endblock %}
  </head>
  <body>
    <aside>
      {% block navigation %}
        {% include "partials/navigation.html.twig" %}
      {% endblock %}
      <div class="aside-scroll"> 
        {% block project_side %}
        {% endblock %}
      </div>
    </aside>
    <main class="main" data-view="list" tabindex="0"> 
      {% block main_content %}
      {% endblock %}
    </main>
    <div id="about" data-visibility="hidden"> 
      {% block about_content %}
      {% endblock %}
    </div>
    {% block bottom %}
    {{ assets.js("bottom") | raw }}
    {% endblock %}
</body>
</html>
