{% set images = ["emboiter-2", "emboiter", "feuilles-chene", "gouge", "mesure", "scie-circulaire", "scie-circulaire-2", "scie", "vis"] %}
{% set selectedImage = random(images) %}
{% set imglink = 'theme://images/drawings/' ~ selectedImage ~ '.svg' %}
<section data-info-visibility="hidden" data-project-type="drawing" class="project {{ selectedImage }}">
  {{ svg_image(imglink)|raw  }}
</section>
