<div class="lead text-center">
  <h1>Error!</h1>
  {{ page.content|raw }}
</div>
{# {% extends 'partials/base.html.twig' %} #}
{##}
{# {% block main_content %} #}
{#     <div class="lead text-center"> #}
{#         <h1>Error!</h1> #}
{#         {{ page.content|raw }} #}
{#     </div> #}
{# {% endblock %} #}
